/* Category Buttons */
.category-buttons {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .category-button {
    background-color: #2A7AE4;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-weight: bold;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .category-buttons {
      flex-wrap: wrap;
    }
  
    .category-button {
      margin: 5px;
    }
  }
  