/* Header */
.header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

.header ul {
  list-style: none;
  padding: 0;
}

.header ul li {
  display: inline;
  margin: 0 10px;
}

.header ul li a {
  color: white;
  text-decoration: none;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .menu-container {
    flex-direction: column; /* Alinea los botones verticalmente */
  }

  .menu-container button {
    width: 100%; /* Los botones ocupan todo el ancho */
    margin-bottom: 5px; /* Espacio entre botones */
  }
}

  