/* src/styles/Home.css */
.video-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.video-category {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
}

.videos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
